$primary-color: #00885b;
$button-color: #7ddaff;
$primary-color-light: #fdff58;
$primary-color-dark: #90cc00;

$background-color: #d9f2ff;
$background-color-light: #e7e7e7;
$background-color-dark: #000a12;
