$primary-color: #188edd;
$secondary-color: #e7e7e7;

$button-background: $secondary-color;
$button-background-hover: darken($button-background, 3%);

$link-color: darken($primary-color, 10%);

$background-color: #f0f0f0;
